<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="HOME" icon="ion-home" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="SEARCH" icon="ion-ios-search-strong" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="SCAN" icon="ion-qr-scanner" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="PROFILE" icon="ion-android-person" id="tabsController-tab7">
      <ion-nav-view name="tab7"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>